
:root{
  --black:#09090c;
  --grey:#a4b2bc;
  --white:#fff;
  --green:#1DF019;
  --pink:#EC25F0;
  --blue:#2E9CCA;
  --orange:#FBC60B;
  --background: var(--white)
}
*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

 body{ 
   background-color: var(--background); 
  font-family: 'Poppins', sans-serif;
  color: black;
  
}